button {
    background: #017143;
    color: #fff;
    border-radius: 40px;
}

:host{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'Work Sans'
    
  }
  
  .add_margin{
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;
   

}