
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


.add_margin{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
   

}