
 <div class="main">
  
    <div class="signup"  >
        <form >
            <label for="chk" aria-hidden="true" style="font-size: 20px;">Recuperar Contraseña</label>
            <div>
                <input type="password" class="form-control" name="firstName"  placeholder="Contraseña"  />
            </div>
            <div >
                <input type="password" class="form-control" name="lastName" placeholder="Nueva Contraseña"  />
            </div>
          
            <button>Confimar</button>
        </form>
    </div>


</div>
