/* :host{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
 }
 
 .hero{
     height: 90vh;
     width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.hdqwalls.com/download/cake-chocolate-raspberry-dessert-fork-3840x2400.jpg") no-repeat center/ cover;
     background: url("https://images.hdqwalls.com/download/cake-chocolate-raspberry-dessert-fork-3840x2400.jpg") no-repeat center/ cover;
 
 }
 
 nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 40px;
     padding-left: 10%;
     padding-right: 10%;
 }
 
 .logo{
     color: white;
     font-size: 28px;
 }
 
 span{
     color: #ea1538;
 }
 
 nav ul li{
     list-style: none;
     display: inline-block;
     padding: 10px 20px;
 }
 
 nav ul li a{
     color: white;
     text-decoration: none;
     font-weight: bold;
 }
 
 nav ul li a:hover{
     color: rgb(63, 63, 63);
     transition: .3s
 } */



 :host {

  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
 }



section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header .logo
{
    position: relative;
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    
}

