<div class="content">
    <div class="textBox">
      <h2>Cuidar el medio ambiente<br>Es <span>Cuidarnos</span></h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, commodi dolor
         aut aperiam enim rerum vitae? Cupiditate eos aperiam soluta nam in? Ipsa
          et facere fugiat debitis, minima vitae consequatur.</p>
      <a href="#">Leer más</a>
    </div>
    <div class="imgBox">
      <img  src="../../../../assets/imagenes/cake_2.png" alt="VeganLife">
    </div>
  </div>